<li class = "animated fadeIn my-2">
  <form>
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label for="{{burger_name}}" class="sr-only text-center">{{burger_name}}</label>
        <input type="text" readonly class="form-control-plaintext text-center"
          value="{{burger_name}}">
      </div>
      <div class="col-auto">
        <label class="sr-only" for="{{burger_name}}AA">Name</label>
        <input type="text" class="form-control whoDIDit my-1 " id="{{burger_name}}AA" placeholder="Name">
      </div>
      <div class="col-auto">
        <div class="btn-group btn-group-sm" role="group" aria-label="button group">
          <button type="button" class="devour btn btn-primary font-effect-fire-animation"
            id="{{burger_name}}">Devour</button>
          <button type="button" class="delete btn btn-primary font-effect-fire-animation" id="{{id}}"><i
              class="far fa-trash-alt"></i></button>
        </div>
      </div>
    </div>
  </form>
</li>